*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("https://img.freepik.com/free-photo/3d-render-low-poly-plexus-design-network-communications_1048-14542.jpg?t=st=1727704513~exp=1727708113~hmac=060f6f5fea6f233d7f24601fa18d3fb329d9cb6dcb9a853a5b7f629a41e0cf4a&w=996");
    background-repeat: no-repeat;
    background-size: cover;
}